<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>It is an my first project</h3>

<div>
  <form action="{{ url_for('predict')}}" method="post">
    <label for="sepal_length">sepal_length</label>
    <input type="text" id="sepal_length" name="sepal_length" placeholder="sepal_length">

    <label for="sepal_width">sepal_width</label>
    <input type="text" id="sepal_width" name="sepal_width" placeholder="sepal_width">
      
    <label for="petal_length">petal_length</label>
    <input type="text" id="petal_length" name="petal_length" placeholder="petal_length"> 
    
    <label for="petal_width">petal_width</label>
    <input type="text" id="petal_width" name="petal_width" placeholder="petal_width">

    
    <input type="submit" value="predict"> 
  </form>
    <br> 
    <br> 
    <center><h2>predicted species is 😁😁😂😂{{prediction}}</h2></center>
</div>

</body>
</html>
